<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.tatarka.support.job">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <service android:name="me.tatarka.support.server.job.JobServiceCompat" />

        <service android:name="me.tatarka.support.server.job.JobSchedulerService" />

        <receiver
            android:name="me.tatarka.support.server.job.controllers.NetworkReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="me.tatarka.support.server.job.controllers.PowerReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="me.tatarka.support.server.job.controllers.PowerReceiver.ACTION_CHARGING_STABLE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="me.tatarka.support.server.job.controllers.BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="me.tatarka.support.server.job.controllers.IdleReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.DREAMING_STARTED" />
                <action android:name="android.intent.action.DREAMING_STOPPED" />
                <action android:name="me.tatarka.support.server.job.controllers.IdleReceiver.ACTION_TRIGGER_IDLE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="me.tatarka.support.server.job.controllers.TimeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="me.tatarka.support.jobscheduler.JOB_DEADLINE_EXPIRED" />
                <action android:name="me.tatarka.support.jobscheduler.JOB_DELAY_EXPIRED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
